# Kickstart for Krisztian
text
cdrom
logging --level=error
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto=dhcp --noipv6
rootpw xxxxx
firewall --disabled
authconfig --enableshadow --enablemd5
selinux --disabled
timezone --utc Europe/Budapest
bootloader --location=mbr --driveorder=sda
reboot
clearpart --all --initlabel
zerombr yes
part / --fstype=ext3 --grow --asprimary --size=700
skipx
%packages --nobase
NetworkManager
bzip2
acpid
crontabs
dhclient
logrotate
mailx
man
ntp
openssh-clients
openssh-server
postfix
screen
sudo
vim
wget
which
yum
%end
%post
